*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 350px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: #fff;
}

main,
header {
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
